@reference "../App.css";

.app-tabs {
	width: 100%;
	height: 100%;
	overflow: hidden;

	--tab-height: 41px;
}

.app-tabs-list {
	height: var(--tab-height);
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	@apply flex items-center flex-nowrap border-b-2 border-base-content/10 pt-1;
}

.app-tab {
	white-space: nowrap;
	cursor: pointer;
	@apply px-2 py-1 text-sm text-base-content/50 flex items-center gap-1 border-b-2 border-transparent;
	transition: 0.2s ease-in-out;
}

.app-tab-active {
	@apply text-base-content/90 border-secondary/90;
}

.app-tab-name {
	@apply truncate;
}

.app-tab-close {
	opacity: 0;
	cursor: pointer;
	line-height: 0;
}

.app-tab-close:hover {
	@apply bg-secondary text-secondary-content rounded-sm;
}

.app-tab:hover {
	@apply text-base-content/90;
}

.app-tab:hover .app-tab-close {
	opacity: 1;
}

.app-tab-component {
	height: calc(100% - var(--tab-height)); 
	overflow-y: scroll;
}
