@reference "../App.css";

.workspace {
	height: 100%;
	display: flex;
}

.workspace__menu {
	@apply px-6 pr-3 py-4 bg-base-200;
	overflow-y: scroll; 
	flex-basis: 320px;
}

.workspace__body {
	@apply border-l-2 border-base-content/10;
	height: 100%;
	min-width: 0;
	flex: 1;
}