@import "tailwindcss";

@plugin "daisyui/theme" {
	name: "cdark";
	default: false; 
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(21% 0.006 285.885);
	--color-base-200: oklch(21% 0.006 285.885);
	--color-base-300: oklch(27% 0.006 286.033);
	--color-base-content: oklch(96% 0.001 286.375);
	--color-primary: oklch(82% 0.111 230.318);
	--color-primary-content: oklch(29% 0.066 243.157);
	--color-secondary: oklch(90% 0.182 98.111);
	--color-secondary-content: oklch(28% 0.066 53.813);
	--color-accent: oklch(84% 0.143 164.978);
	--color-accent-content: oklch(26% 0.051 172.552);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157); 
	--color-success: oklch(77% 0.152 181.912);
	--color-success-content: oklch(27% 0.046 192.524);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(27% 0.077 45.635);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(25% 0.092 26.042);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.1875rem;
	--size-field: 0.21875rem; 
	--border: 0.5px;
	--depth: 1;
	--noise: 1;
	--color-primary: oklch(75.461% 0.183 346.812);
  --color-primary-content: oklch(15.092% 0.036 346.812);
  --color-secondary: oklch(74.202% 0.148 301.883);
  --color-secondary-content: oklch(14.84% 0.029 301.883);
  --color-accent: oklch(83.392% 0.124 66.558);
  --color-accent-content: oklch(16.678% 0.024 66.558);

}

@plugin "daisyui" {
	themes: light --default, cdark --prefersdark;
	exclude: scrollbar, rootscrollgutter;
}

.scrollbar {
	scrollbar-gutter: stable; 
	
} 

.scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 5px; 
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.01);
	transition: background-color .2s ease;
	border-radius: 19px; 
}

.scrollbar:hover::-webkit-scrollbar-thumb {
	@apply bg-base-300;
}

.scrollbar:hover {
  -webkit-mask-position: left top;
}